/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /*переменные для светлой темы*/
  --border-color: #000;
  --background-color: #fff;
  --background-color-button-before: #fff;
  --text-color: #000;
  --text-color-image-text: #000;
  --hover-button-text-color: #fff;
  --outline-color: #fff;
  --text-stroke-color: rgba(255, 255, 255, 0.7);
  --card-button-text-color: #fff;
  --shadow-color: #000;
  --modal-background-color: #000;
  --main-heart-color: #ff0000;
  --heart-color-core: #fff;
  --heart-color-core-hover: #000;
  --heart-color-core-active: #ff0000;
  --heart-color-main-body: #fff;
  --heart-color-main-body-hover: #000;
  --heart-color-main-body-active: #ff0000;
  --heart-color-contour: #000;
  --heart-color-sparks: #ff0000;
  --border-color-focus-heart: #000;
  --text-weigh7: 700;
  --text-weight4: 400;
  --main-font: 'Inter-Variable', sans-serif; /* Основной шрифт Inter */
  --fantasy-font: 'PressStart', fantasy; /*  шрифт PressStart2P */

  /*переменные для темной темы*/
  --repeating-linear-gradient-color: #000;
  --linear-gradient1: #007f0c;
  --linear-gradient2: #004306;
  --border-color: #00cc14;
  --background-color: #000;
  --background-color-button-before: #00cc14;
  --text-color: #00cc14;
  --text-color-image-text: #000;
  --hover-button-text-color: #000;
  --outline-color: #fff;
  --text-stroke-color: #00cc14;
  --card-button-text-color: #00cc14;
  --shadow-color: #00cc14;
  --modal-background-color: #000;
  --main-heart-color: #00cc14;
  --heart-color-core: #000;
  --heart-color-core-hover: #00cc14;
  --heart-color-core-active: #00cc14;
  --heart-color-main-body: #000;
  --heart-color-main-body-hover: #00cc14;
  --heart-color-main-body-active: #00cc14;
  --heart-color-contour: #00cc14;
  --heart-color-sparks: #00cc14;
  --border-color-focus-heart: #00cc14;
  --text-weight7: 785;
  --text-weight4: 465;
}
